html, body{
    margin: 0;
    padding: none;
    box-sizing: border-box;
}

body {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.header {
    display: flex;
    color: #fff;
    background-color: rgb(49, 49, 49);
    height: 50px;
    margin: 0;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    opacity: .9;
}

.header i {
    color: rgb(255, 61, 61);
}

.tagline {
    font-family: 'Dancing Script', cursive;
}

.btn {
    color: #fff;
    background-color: rgb(0, 0, 0);
    float: right;
}

.btn:hover {
    color: #fff;
    background-color: rgb(104, 104, 104);
}

.about-page {
    display: flex;
    justify-content: center;
}

.tagline {
    position: absolute;
    text-align: center;
    justify-content: center;
}

.hero-image {
    z-index: -1;
    width: 100%;
    min-width: 350px;
    opacity: .2;
    text-align: center;
}
